<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2 class=id>contact number:9618410020</h2>
    <div><iframe width="700" height="500" frameborder="5" scrolling="no" marginheight="1" marginwidth="1" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Bajaj%20Electronics%20Hyderabad+(Bajaj%20Electronins)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.maps.ie/draw-radius-circle-map/">Easy radius map</a></div>
</body>
<div>
    <app-footer></app-footer>
    </div>
</html>
