<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <section id="labels">
        <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3">
                <div class="dl">
                  <div class="brand">
                      <h2>mobiles</h2>
                  </div>
                  <div class="discount alizarin">30%
                      <div class="type">off</div>
                  </div>
                  <div class="descr">
                      <strong>ALL TYPE OF MOBILEPHONES</strong> 
                      
                  </div>
                  <div class="ends">
                      <small>* Conditions and restrictions apply.</small>
                  </div>
                  <div class="coupon midnight-blue">
                    <a data-toggle="collapse" href="#code-1" class="open-code">Get a code</a>
                    <div id="code-1" class="collapse code">LV5MAY14</div>
                  </div>

                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div  class="dl">
                  <div class="brand">
                      <h2>laptops</h2>
                  </div>
                  <div class="discount emerald">
                      50%
                      <div class="type">
                          off
                      </div>
                  </div>
                  <div class="descr">
                      <strong>
                          ALL TYPE OF LAPTOPS
                      </strong> 
                  </div>
                  <div class="ends">
                      <small>
                         * Conditions and restrictions apply.
                      </small>
                  </div>
                  <div class="coupon midnight-blue">
                      <a data-toggle="collapse" href="#code-2" class="open-code">Get a code</a>
                      <div id="code-2" class="collapse in code">
                          MNO123ST
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div  class="dl">
                  <div class="brand">
                      <h2>
                          watches
                      </h2>
                  </div>
                  <div class="discount peter-river">
                  15%
                      <div class="type">
                          off
                      </div>
                  </div>
                  <div class="descr" >
                      <strong>
                           ALL TYPE OF WATCHES
                      </strong> 
                  </div>
                  <div class="ends">
                      <small>
                         * Conditions and restrictions apply.
                      </small>
                  </div>
                  <div class="coupon midnight-blue">
                      <a data-toggle="collapse" href="#code-3" class="open-code">Get a code</a>
                      <div id="code-3" class="collapse code">
                          OLV4SY3R
                      </div>
                  </div>
                </div>
              </div>

          </div>
        </div>
      </section>
</body>
<div>
    <app-footer></app-footer>
    </div>
</html>
